# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
**/node_modules/

# Build files
dist/
dist-ssr/

# Environment files
*.local
.env

# Lambda folders
warning-lambda/
complete-session-lambda/

# Lambda dependencies
**/node_modules/

# Lambda zip files
*.zip

# VS Code
.vscode/*
!.vscode/extensions.json

# IntelliJ
.idea/

# OS files
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# Swap files
*.sw?